In [2]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-py3-none-any.whl.metadata (9.5 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/homebrew/Cellar/jupyterlab/4.4.3/libexec/lib/python3.13/site-packages (from sqlalchemy) (4.13.2)
Downloading sqlalchemy-2.0.45-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 19.7 MB/s eta 0:00:00
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-2.0.45
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
from sqlalchemy import create_engine
import pandas as pd
import re
engine = create_engine(
    "mysql+pymysql://root:password123@localhost:3306/retail_db"
)
print(engine)

data=pd.read_csv('/Users/phaneendrabathina/Downloads/customers raw data.csv')
data1=pd.read_csv('/Users/phaneendrabathina/Downloads/products raw data.csv')
data2=pd.read_csv('/Users/phaneendrabathina/Downloads/sales raw data.csv')

def remove_null(df):
    numerical_feature_list=[]
    categorical_feature_list=[]
    for features in df.columns:
        if df[features].dtype=='O':
            categorical_feature_list.append(features)
        else:
            numerical_feature_list.append(features)
    df=df.dropna(subset=categorical_feature_list)
    df[numerical_feature_list]=df[numerical_feature_list].fillna((df[numerical_feature_list].mean()))
    return df
    
def remove_dup(df1):
   count_sum=df1.duplicated().sum()
   if count_sum>0:
      df1=df1.drop_duplicates(inplace=False)
   return df1    

def standardize_phone(phone):
    if pd.isna(phone):
        return None
    digits = re.sub(r"\D", "", str(phone))
    if len(digits)==10:
        return f"+91-{digits}"
    if len(digits)==11 and digits.startswith('0'):
        return f"+91-{digits[1:]}"
    if len(digits)==12 and digits.startswith('91'):
        return f"+91-{digits[2:]}"
    else:
        return None

def standardize_category(category):
    if pd.isna(category):
        return None
    return str(category).strip().capitalize()

def format_date(df,column_name):
    #df[column_name]=pd.to_datetime(df[column_name],format='%d/%m/%Y',errors='coerce')
    df[column_name] = (
    pd.to_datetime(df[column_name], format='%d/%m/%Y', errors='coerce')
    .fillna(pd.to_datetime(df[column_name],format='%Y-%m-%d',errors='coerce'))
    .fillna(pd.to_datetime(df[column_name],format='%m-%d-%Y',errors='coerce'))
    .fillna(pd.to_datetime(df[column_name],format='%m/%d/%Y',errors='coerce')))
    return df

def add_surrogate(df,column_name='id',start=1):
    df.insert(0,column_name,range(start,start+len(df)))
    return df

data=remove_null(data)

data=remove_dup(data)

data['phone']=data['phone'].apply(standardize_phone)

data=format_date(data,'registration_date')
print(data)
data.to_sql(
    name="customers",
    con=engine,
    if_exists="replace",   # use "append" if you want to add data
    index=False
)
data1=remove_null(data1)

data1['category']=data1['category'].apply(standardize_category)
print(data1)

data1.to_sql(
    name="products",
    con=engine,
    if_exists="replace",   # use "append" if you want to add data
    index=False
)


data2=format_date(data2,'transaction_date')

data2=remove_dup(data2)

data2=remove_null(data2)

data2=add_surrogate(data2)
print(data2)

data2.to_sql(
    name="sales",
    con=engine,
    if_exists="replace",   # use "append" if you want to add data
    index=False
)

Engine(mysql+pymysql://root:***@localhost:3306/retail_db)
   customer_id first_name last_name                     email           phone  \
0         C001      Rahul    Sharma    rahul.sharma@gmail.com  +91-9876543210
1         C002      Priya     Patel     priya.patel@yahoo.com  +91-9988776655
3         C004      Sneha     Reddy     sneha.reddy@gmail.com  +91-9123456789
4         C005     Vikram     Singh  vikram.singh@outlook.com  +91-9988112233
5         C006     Anjali     Mehta    anjali.mehta@gmail.com  +91-9876543210
7         C008      Pooja      Iyer      pooja.iyer@gmail.com  +91-9123456780
8         C009    Karthik      Nair    karthik.nair@yahoo.com  +91-9988776644
9         C010      Deepa     Gupta     deepa.gupta@gmail.com  +91-9871234567
11        C011      Arjun       Rao       arjun.rao@gmail.com  +91-9876509876
13        C013     Suresh     Patel  suresh.patel@outlook.com  +91-9123409876
14        C014       Neha      Shah       neha.shah@gmail.com  +91-9876543221
15        C015     Manish     Joshi    manish.joshi@yahoo.com  +91-9988776611
16        C016      Divya     Menon     divya.menon@gmail.com  +91-9123456701
17        C017     Rajesh     Kumar    rajesh.kumar@gmail.com  +91-9876123450
19        C019       Arun    Pillai   arun.pillai@outlook.com  +91-9876543298
20        C020      Swati     Desai     swati.desai@gmail.com  +91-9123456712
21        C021     Nikhil      Bose     nikhil.bose@gmail.com  +91-9988776600
22        C022   Priyanka      Jain   priyanka.jain@yahoo.com  +91-9876543287
24        C024      Meera   Nambiar   meera.nambiar@gmail.com  +91-9123456723
25        C025     Sanjay   Agarwal  sanjay.agarwal@gmail.com  +91-9876543276

          city registration_date
0    Bangalore        2023-01-15
1       Mumbai        2023-02-20
3    Hyderabad        2023-04-15
4      Chennai        2023-05-22
5    Bangalore        2023-06-18
7    Bangalore        2023-08-15
8        Kochi        2023-09-30
9        Delhi        2023-10-12
11   Hyderabad        2023-11-05
13      Mumbai        2024-01-08
14   Ahmedabad        2024-01-15
15      Jaipur        2024-01-20
16   Bangalore        2024-02-05
17       Delhi        2024-02-12
19       Kochi        2024-02-25
20        Pune        2024-03-01
21     Kolkata        2024-03-10
22      Indore        2024-03-15
24  Trivandrum        2024-03-25
25     Lucknow        2024-03-28
   product_id         product_name     category         price  stock_quantity
0        P001   Samsung Galaxy S21  Electronics  45999.000000      150.000000
1        P002   Nike Running Shoes      Fashion   3499.000000       80.000000
2        P003    Apple MacBook Pro  Electronics  14141.529412       45.000000
3        P004         Levi's Jeans      Fashion   2999.000000      120.000000
4        P005      Sony Headphones  Electronics   1999.000000      200.000000
5        P006      Organic Almonds    Groceries    899.000000      138.421053
6        P007            HP Laptop  Electronics  52999.000000       60.000000
7        P008       Adidas T-Shirt      Fashion   1299.000000      150.000000
8        P009     Basmati Rice 5kg    Groceries    650.000000      300.000000
9        P010         OnePlus Nord  Electronics  14141.529412       95.000000
10       P011        Puma Sneakers      Fashion   4599.000000       70.000000
11       P012  Dell Monitor 24inch  Electronics  12999.000000       40.000000
12       P013       Woodland Shoes      Fashion   5499.000000       55.000000
13       P014            iPhone 13  Electronics  69999.000000       80.000000
14       P015   Organic Honey 500g    Groceries    450.000000      200.000000
15       P016    Samsung TV 43inch  Electronics  32999.000000       35.000000
16       P017            H&M Shirt      Fashion  14141.529412       90.000000
17       P018       Masoor Dal 1kg    Groceries    120.000000      500.000000
18       P019         Boat Earbuds  Electronics   1499.000000      250.000000
19       P020    Reebok Trackpants      Fashion   1899.000000      110.000000
    id transaction_id customer_id product_id  quantity  unit_price  \
0    1           T001        C001       P001         1     45999.0
1    2           T002        C002       P004         2      2999.0
2    3           T003        C003       P007         1     52999.0
4    4           T005        C005       P009         3       650.0
5    5           T006        C006       P012         1     12999.0
6    6           T007        C007       P005         2      1999.0
8    7           T009        C009       P011         1      4599.0
9    8           T010        C010       P006         5       899.0
11   9           T011        C011       P014         1     69999.0
12  10           T012        C012       P003         1     52999.0
13  11           T013        C013       P015         3       450.0
14  12           T014        C014       P019         2      1499.0
15  13           T015        C015       P008         3      1299.0
17  14           T017        C017       P016         1     32999.0
18  15           T018        C018       P020         2      1899.0
19  16           T019        C019       P018        10       120.0
20  17           T020        C020       P010         1     45999.0
21  18           T021        C021       P017         2      2999.0
22  19           T022        C002       P001         1     45999.0
23  20           T023        C003       P019         3      1499.0
24  21           T024        C004       P009         5       650.0
26  22           T026        C006       P011         1      4599.0
27  23           T027        C007       P002         2      3499.0
28  24           T028        C008       P015         4       450.0
29  25           T029        C009       P007         1     52999.0
31  26           T031        C011       P012         1     12999.0
32  27           T032        C012       P016         1     32999.0
33  28           T033        C013       P005         2      1999.0
34  29           T034        C014       P008         2      1299.0
35  30           T035        C015       P018         8       120.0
36  31           T036        C016       P014         1     69999.0
37  32           T037        C017       P006         4       899.0
38  33           T038        C018       P020         1      1899.0
39  34           T039        C019       P019         2      1499.0
40  35           T040        C020       P013         1      5499.0

   transaction_date     status
0        2024-01-15  Completed
1        2024-01-16  Completed
2        2024-01-15  Completed
4        2024-01-20  Completed
5        2024-01-22  Completed
6        2024-01-23  Completed
8        2024-01-28  Cancelled
9        2024-02-01  Completed
11       2024-02-02  Completed
12       2024-02-05  Completed
13       2024-02-08  Completed
14       2024-02-10  Completed
15       2024-02-12  Completed
17       2024-02-18  Completed
18       2024-02-20  Completed
19       2024-02-22  Completed
20       2024-02-25  Completed
21       2024-02-28  Completed
22       2024-03-01  Completed
23       2024-03-02  Completed
24       2024-03-05  Completed
26       2024-03-10  Completed
27       2024-12-03  Completed
28       2024-03-15  Completed
29       2024-03-18  Completed
31       2024-03-22  Completed
32       2024-03-25  Completed
33       2024-03-28  Completed
34       2024-03-30  Completed
35       2024-01-04  Completed
36       2024-04-03  Completed
37       2024-04-05  Completed
38       2024-04-08  Completed
39       2024-04-10  Completed
40       2024-04-12  Completed

/var/folders/1l/tbx5109n7fg59kzd5qy7x8w80000gn/T/ipykernel_75119/2557488615.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[numerical_feature_list]=df[numerical_feature_list].fillna((df[numerical_feature_list].mean()))

35